<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> {% block title %} {% endblock %} </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="containter">
        <ul class="nav navbar-nav">
        <li><a class="navbar-brand" href="{{ url_for('index') }}">Home</a></li>
        </ul>
      </div>
    </nav>

    <div class="containter">
      {% block content %}

      {% endblock %}
    </div>
  </body>
</html>
