{% extends "base.html" %}

{% block content %}

<div class="container">
  <h1> Something went wrong.</h1>
  <h1> Please try again</h1>
  <a href="{{ url_for('index') }}">Go Back</a>
</div>


{% endblock %}
