{% extends "base.html" %}

{% block content %}

<div class="container">
  <form class="" action="/get-weather" method='POST'>
    Date from: <br>
    <input type="date" name="startdate">
    <br>
    Date to: <br>
    <input type="date" name="enddate">
    <br>
    Location: <br>
    <input type="text" name="location" placeholder="Specify location" required>
    <input type="submit" class='btn btn-primary' value="Get Weather">
  </form>
</div>

{% endblock %}
