{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="col-md-6">
    <h3>Location: {{ location.name }}</h3>
    <h5>City Key: {{ location.city_key }}</h5>
  </div>
{% for report in weather_reports %}
  <div class="row">
    <div class="col-md-12">
      <div class="well">
         <div class="row">
            <b>Date:</b> {{ report.date }} <br/>
            <b>Max Temperature:</b> {{ report.temp_max }} <br/>
            <b>Min Temperature:</b> {{ report.temp_min }} <br/>
            <b>Summary: </b> {{ report.summary }} <br/>
          </div>
        </div>
    </div>
  </div>
{% endfor %}
</div>
{% endblock %}
